app:
  api.version: v1

  rabbit:
    exchange:
      user-events: user.events.topic

    queue:
      user-replica: content-service.user-replica.queue
      email-main-queue: email.notification.main.queue
      email-retry-queue: email.notification.retry.queue

    routing-key:
      user-created: user.created
      user-updated: user.updated
      user-deleted: user.deleted
      user-pattern: user.*



server.port: 8085

logging.level:
  org.springframework.security: TRACE

spring:
  profiles:
    active: local
  application.name: user-service
  main.banner-mode: off
  jpa:
    hibernate.ddl-auto: update
    show-sql: false
    properties.hibernate.format_sql: false
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB